<div id="weather" class="day">
    <div class="weather_container">
        <div class="user_details">
            <div class="city_input_container">
                <input placeholder="Search City"/>
            </div>
        </div>
        <div class="today_container">
            <div class="temp_details">
                <div class="weather_icon_container" 
                [ngStyle]="{'background-image': 'url(../../assets/sun.png)'}">
                    <!-- <img src="../../assets/sun.png"/> -->
                    <!-- <h2 style="margin: 0;">Cloudy</h2> -->
                    <!-- <span class="current_location">NOIDA</span> -->
                </div>
                <div class="today_data">
                    <div class="today_temp">
                        <h1>15°</h1>
                        <h2 style="margin: 0;">Cloudy</h2>
                    </div>
                    <div class="today_humidity"></div>
                </div>
            </div>
            <div class="today_extra_dets">
                <div class="today_dets">
                    Hello
                </div>
                <div class="today_dets">
                    Hello
                </div>
                <div class="today_dets">
                    Hello
                </div>
                <div class="today_dets">
                    Hello
                </div>
            </div>
        </div>
    </div>
</div>
