/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  //font-family: 'Roboto', sans-serif;
  font-family: 'Poppins', sans-serif;

  ::-webkit-scrollbar {
    height: 2px;
    width: 2px;
    
  }
  *:hover::-webkit-scrollbar{
    height: 4px;
    width: 4px;

  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  

  *::-webkit-scrollbar-thumb{
    border-radius: 16px;
    background-color: rgba(black, 0.5) 
  }

}

.material-symbols-outlined {
  &.size_12{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 12;
    font-size: 12px
  }
  &.size_24{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 24px
  }

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@include mat.core();

$my-primary: mat.define-palette(mat.$grey-palette, 900);
$my-accent: mat.define-palette(mat.$indigo-palette, 800, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);


.mat-icon{
  padding: 2px;
  margin: 2px;
  &-1_img img{
    height: 24px;
    width: 24px;
  }
  &-1{
    height: 24px;
    width: 24px;
  }
  &-3{
    height: 46px;
    width: 46px;
  }
}

