/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  //font-family: 'Roboto', sans-serif;
  font-family: 'Poppins', sans-serif;

  ::-webkit-scrollbar{
    width: 0px;
    height: 0px;
  }


}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@include mat.core();

$my-primary: mat.define-palette(mat.$grey-palette, 900);
$my-accent: mat.define-palette(mat.$indigo-palette, 800, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);


.mat-icon{
  padding: 2px;
  margin: 2px;
  &-1_img img{
    height: 24px;
    width: 24px;
  }
  &-1{
    height: 24px;
    width: 24px;
  }
  &-3{
    height: 46px;
    width: 46px;
  }
}

